<html>
  <head>
    <title>{% block title %}Sistema de Alumnos{% endblock %}</title>
  </head>

  <body>
    {% block body %} {% endblock %}
  </body>

  {% block content %}
  <div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %} {% block page_content %}{% endblock %}
  </div>
  {% endblock %}

  <footer class="text-center">
    <br />
    {% block footer %}
    <!-- Primera base de datos -->
    {% endblock %}
  </footer>
</html>
