{% extends "base.html" %}
<html>
    {% block body %}
    <h2 class="text-center">Sistema de Alumnos</h2>
    <hr>
    <div class="col-3 m-auto">
        <ul class="list-group text-center">
            <li class="list-group-item"><b><a href="{{url_for('all_student')}}">Buscar Alumno por padrón</a></b></li>

            
            <!-- <li class="list-group-item"><b><a href="{{url_for('all_students')}}">Buscar Alumno por padrón</a></b></li> -->
        </ul>
    </div>
    {% endblock %}
</html>