<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrarse</title>
</head>
<body>
    <form method="post" action="/sesion">
        <label for="nombre">Tu Nombre :</label>
        <input type="text" name="nombre">
        <br>
        <label for="apellido">Apellido :</label>
        <input type="text" name="apellido">
        <br>
        <label for="DNI">DNI :</label>
        <input type="number" name="DNI">
        <br>
        <label for="email">Correo Electronico: </label>
        <input type="email" name="email">
        <br>
        <button type="submit" id="registrarse">Enviar</button>
        <!-- <input type="submit" value="Iniciar Sesion" name="I_val"> -->
    </form>
</body>
</html>