<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrarse</title>
</head>
<body>
    <form method="post" action="/sesion">
        <label for="I_correo">Tu Nombre :</label>
        <input type="text" name="I_correo">
        <br>
        <label for="I_clave">Apellido :</label>
        <input type="text" name="I_clave">
        <br>
        <label for="I_clave">DNI :</label>
        <input type="number" name="I_clave">
        <br>
        <label for="I_clave">Correo Electronico :</label>
        <input type="email" name="I_clave">
        <br>
        <label for="I_clave">Clave :</label>
        <input type="password" name="I_clave">
        <br>
        <button type="submit">Enviar</button>
        <!-- <input type="submit" value="Iniciar Sesion" name="I_val"> -->
    </form>
</body>
</html>